<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cd %>
    <%= f.text_field :cd %>
  </div>
  <div class="field">
    <%= f.label :name_l %>
    <%= f.text_field :name_l %> <%= f.text_field :name_f %>
  </div>
  <div class="field">
    <%= f.label :nickname %>
    <%= f.text_field :nickname %>
  </div>
  <div class="field">
    <%= f.label :mail %>
    <%= f.text_field :mail %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.hidden_field :lock_version %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
