<p id="notice"><%= notice %></p>

<p>
  <b>ユーザーコード:</b>
  <%= @user.cd %>
</p>

<p>
  <b>名前:</b>
  <%= @user.name_l %> <%= @user.name_f %>
</p>

<p>
  <b>ニックネーム:</b>
  <%= @user.nickname %>
</p>

<p>
  <b>Mail:</b>
  <%= @user.mail %>
</p>

<p>
  <b>パスワード</b>
  <%= @user.password %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
