<legend><%= t('title.settings.users.show') %></legend>
<p id="notice"><%= notice %></p>

<p>
  <b><%= t('activerecord.attributes.user.cd') %>:</b>
  <%= @user.cd %>
</p>

<p>
  <b><%= t('activerecord.attributes.user.name') %>:</b>
  <%= @user.name_l %> <%= @user.name_f %>
</p>

<p>
  <b><%= t('activerecord.attributes.user.nickname') %>:</b>
  <%= @user.nickname %>
</p>

<p>
  <b><%= t('activerecord.attributes.user.mail') %>:</b>
  <%= @user.mail %>
</p>

<%= link_to t('link.edit'), edit_user_path(@user) %> | <%= link_to t('link.back'), users_path %>

