<% content_for :submenu do %>
  <ul class="nav nav-pills">
    <li><a href="#">一覧</a></li>
    <li><%= link_to 'プロジェクト作成', new_project_path %></li>
    <li><a href="#">プロジェクト-タスク作成</a></li>
  </ul>
<% end %>

<table width='100%'>
  <tr>
    <th width='50px' align='center'>タスク<br>番号</th>
    <th>プロジェクト名</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td align='center'><%= project.task_no %></td>
    <td><%= project.name %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>


