<h1>立上げ・計画</h1>

<br />
<%= link_to '新規プロジェクト', new_project_path %>
<br />

<table width='100%'>
  <tr>
    <th width='50px' align='center'>タスク<br>番号</th>
    <th>プロジェクト名</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td align='center'><%= project.task_no %></td>
    <td><%= project.name %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>


