<% content_for :side_menu do %>
  <div class="container-fluid tpm-container">
    <div class="row-fluid">
      <div class="span3 tpm-box">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">新規</li>
              <li><%= link_to 'プロジェクト作成', new_project_path %></li>
              <li><a href="#">プロジェクト-タスク作成</a></li>
              <li class="nav-header">変更</li>
              <li><a href="#">課題管理</a></li>
              <li><a href="#">変更管理</a></li>
            </ul>
          </div><!--/.well -->
      </div>
<% end %>

<table width='100%'>
  <tr>
    <th width='50px' align='center'>タスク<br>番号</th>
    <th>プロジェクト名</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td align='center'><%= project.task_no %></td>
    <td><%= project.name %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>


